@font-face {
  font-family: "Inter";
  src: url("assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martian Mono";
  src: url("assets/fonts/martian-mono/MartianMono-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer customproperties{

:root{

    /* colors */
    --clr-drk-900: #062630;
    --clr-drk-700: #385159;
    --clr-light-200:#E6E1DF;
    --clr-light-100:#FAF5F3;
    --clr-white: #fff;

    --clr-salmon-500: #FEA36F;
    --clr-light-salmon: #FFE2D1;
    --clr-salmon: #FFF5EF;

    /* gradient */
    --hero-text-gradient: linear-gradient(107deg, var(--colors-light-salmon-500, #FEA36F) -11.37%, var(--colors-neutral-900, #062630) 61.84%);
    --bg-gradient: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
    /* typography */
      --ff-heading: 'Martian Mono', ui-monospace, monospace;
      --ff-content: 'Inter',  system-ui, sans-serif;



    /* spacing */
    --desktop-gap: 7.5rem;
    --table-gap:5rem;
    --mobile-gap:4rem;
}


}

/* Reset */

*, 
*::before, 
*::after{
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}
body{
  min-height: 100vh;
  font-family: var(--ff-content);
}

img,
picture,
svg
{
  display: block;
  max-width: 100%;
}
button, input,textarea,select{
  font: inherit;
}



main{
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
    padding-block: 7.5rem;
    padding-inline: 1rem;
}




/* Desktop Styling */

/* header */
header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-image: url("assets/images/pattern-light-bg.svg");
  background-color: var(--clr-salmon);
  padding-block-end: 4.5rem;
  padding-inline: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

header::after{
  content: "";
  height: 684px;
  width: 684px;
  position: absolute;
  right: -40px;
  border-radius: 100%;
  bottom: -200px;
  background-image: url("assets/images/pattern-glow.svg");
  z-index: -1;
  background-repeat: no-repeat;
  overflow: hidden;
}
.header-container{
  padding-inline: 1rem;
  padding-block-start: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
}

.hero{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.hero-container{
  width: 100%;
  max-width: 1440px;
}

.two-column, .hero-two-column{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
}


.hero-heading{
  font-family: var(--ff-heading);
font-size: 62px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 74.4px */
color: var(--clr-drk-900);
letter-spacing: -2px;
background: var(--hero-text-gradient);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.bold{
  font-weight: 700;
}

.hero-content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 570px;
}

.hero-text-content{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: var(--ff-content);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
letter-spacing: -0.5px;
}

.hero-cta-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 388px;
}

.developers-cta-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

    img{
      max-width: 110px;

    }
}


.rating-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  color: var(--clr-drk-700);
  font-family: var(--ff-heading);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%; 
letter-spacing: -1px;
}

.stars-container{
  display: flex;
  flex-direction: row;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.hero-img{
  max-height: 606px;
  width: auto;
  border-radius: 12px;
}

.rating-text{
  font-family: "Martian Mono";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 1.05rem */
letter-spacing: -0.0625rem;
}

.hero-cta-btn{
display: flex;
flex-direction: row;
gap: 1rem;
padding: 1.25rem 1.5rem;
justify-content: center;
align-items: center;
border-radius: 0.5rem;
border: 1px solid var(--clr-drk-900);
background: var(--clr-salmon);
text-decoration: none;
font-family: var(--ff-heading);
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: 130%;
letter-spacing: -1px; 
color: #062630;
}

.together{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.two-column{
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;

    img{
      max-height: 520px;
    }
}

.together-heading{
  font-family: var(--ff-heading);
font-size: 3.125rem;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 65px */
letter-spacing: -2px;
}

.together-info{
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
  align-items: flex-start;
  width: 100%;
  max-width: 530px;
}

.feature-list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

}

.list-item-together{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    font-family: var(--ff-content);
    align-self: stretch;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  letter-spacing: -0.5px;
  width: 100%;
}

.list-item-together::before{
    content: "";
    background: transparent;
    background-image: url("assets/images/icon-check.svg");
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-size: contain;
    
}

.club{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reversed{
  display: flex;
  flex-direction: row-reverse;
  position: relative;

    img{
      max-height: 520px;
      width: auto
    }
}
.club-info{
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.club-heading{
  font-family: var(--ff-heading);
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 65px */
letter-spacing: -2px;
color: #062630;
position: relative;
}
.circle{
  position: relative;
}

.circle::after{
  content: "";
  background-image: url("assets/images/pattern-circle.png");
  width:160px;
  height: 160px;
  position: absolute;
  background-repeat: no-repeat;
  left: -15px;
  background-size: contain;
}

.club-img-container{
  position: relative;
  padding: 1rem;
}

.tech-icons-container{
  position: absolute;
left: -30px;
bottom: 31px;
width: 100%;
}

.club-content-text{
  font-family: var(--ff-content);
  color: var(--clr-drk-700);
  font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
letter-spacing: -0.5px;
}

.journey{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.journey-content-container{
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
  background-image: url("assets/images/pattern-light-bg.svg");
  background-repeat: no-repeat;
  gap: 4rem;
  background-color: var(--clr-light-100);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.journey-content-container::after{
  content: "";
  position: absolute;
  height: 684px;
  width: 684px;
  background-image: url("assets/images/pattern-glow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  right: -280px;
  bottom: -280px;
  z-index: -1;
}

.journey-steps-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  list-style-type: none;
  counter-reset:  journey-step;
  z-index: 1;
}

.journey-step{
  display: flex;
  flex-direction: column;

  counter-increment: journey-step;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; 
  letter-spacing: -1px;
  max-width: 226px;
  align-self: stretch;
  gap: 1.5rem;
  position: relative;
  z-index: 1;
  
}

.journey-step::before {
  content: counter(journey-step);
  display: flex;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 4px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 2px solid var(--clr-drk-900);
  font-family: var(--ff-heading);
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 23.4px */
letter-spacing: -1px;
color: #062630;
}

.arrow{
  position: relative;
}

.arrow::after{
  content: "";
  position: absolute;
  width: 88px;
  height: 32px;
  left: 146px;
  top: .40px;
  background-image: url("assets/images/pattern-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.journey-heading{
font-family: var(--ff-heading);
color: #062630;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 65px */
letter-spacing: -2px;
max-width: 512px;
text-align: center;

}

.membership-options{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.membership-container{
  width: 100%;
  max-width: 970px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.membership-options-container{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.membership-option-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 1px solid var(--clr-light-200);
  flex: 1 0 0;
  border-radius: 8px;

}

.card-pro{
  padding: 2.5rem 1.5rem;
  background-image: url("assets/images/pattern-glow.svg");
  background-color: var(--clr-light-100);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 75px;
  background-position-y: 175px;
}

.option-heading{
  font-family: var(--ff-heading);
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 110%; /* 26.4px */
letter-spacing: -1px;
color: var(--clr-drk-900);
}

.price{
  font-family: var(--ff-heading);
  font-size: 34px;
font-style: normal;
font-weight: 600;
line-height: 130%; 
letter-spacing: -1px;
color: var(--clr-drk-900);
display: flex;
justify-content: flex-start;
align-items: center;
border-bottom: 1px solid var(--clr-light-200);
padding-block-end: 1.5rem;
width: 100%;
}

.price span{
font-family: var(--ff-content);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
letter-spacing: -0.5px;
color: #385159;
}
.perk{
  font-family: var(--ff-content);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
letter-spacing: -0.5px;
color: var(--clr-drk-700);
list-style-type: none;
display: flex;
flex-direction: row;
text-wrap: nowrap;
align-items: center;
gap: 12px;

}

.perk::before{
  content: "";
  position: relative;
  height: 20px;
  width: 20px;
  background-image: url("assets/images/icon-check.svg");
  gap: 1.25rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.membership-btn{
display: flex;
justify-content: center;
align-items: center;
background-color: var(--clr-salmon);
padding: 20px 24px;
color: var(--clr-drk-900);
font-family: "Martian Mono";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 23.4px */
letter-spacing: -1px;
text-decoration: none;
border-radius: 8px;
border: 2px solid;
text-wrap: nowrap;
}


.testimonial{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 970px;
  gap: 2rem;
}

.testimonial-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 2rem;
}

.testimonial-text{
  font-family: var(--ff-heading);
font-size: 34px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 44.2px */
letter-spacing: -1px;

}

.name-title{
  color: var(--colors-neutral-700, #385159);
text-align: center;
font-family: var(--ff-content);
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
letter-spacing: -0.5px;
}

footer{
  background-color: var(--clr-drk-900);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  width: 100%;
  padding: 5rem 8.4375rem 0 8.4375rem;
  justify-content: center;
  align-items: center;


}

.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1170px;
  gap: 4rem;
}

.footer-content{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  color: var(--clr-white);
  max-width: 970px
}

.footer-heading{
  font-family: var(--ff-heading);
  color: var(--colors-neutral-100, #FAF5F3);
text-align: center;
font-size: 3.125rem;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 4.0625rem */
letter-spacing: -0.125rem;
text-align: center;
max-width: 675px;
}

.cta-btn-footer{
display: flex;
flex-direction: row;
gap: 1rem;
padding: 1.25rem 1.5rem;
justify-content: center;
align-items: center;
border-radius: 0.5rem;
border: 1px solid var(--clr-white);
background: transparent;
text-decoration: none;
font-family: var(--ff-heading);
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: 130%;
letter-spacing: -1px; 
color: var(--clr-white)



}

.rating-text-footer{
  color: var(--clr-white);
}

.footer-copyright{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1.5rem 0;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--clr-white);
  border-top: 1px solid var(--clr-light-100);
}

.copyright{
  font-family:var(--ff-heading);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%; 
letter-spacing: -1px;
}

.social-links{
  display: flex;
  gap: 1.5rem;
}

.together-img, .club-img{
  border-radius: 8px;
  width: 100%;
}

.membership-btn:hover, .hero-cta-btn:hover{
  background: linear-gradient(90deg, var(--colors-light-salmon-100, #FFE2D1) 0%, var(--colors-light-salmon-50, #FFF5EF) 100%);
  cursor: pointer;
  outline: 2px solid black;
  outline-offset: 2px
;
}

.cta-btn-footer:hover{
  background: linear-gradient(90deg, var(--colors-neutral-700, #385159) 0%, var(--colors-neutral-900, #062630) 100%);
}
.membership-btn:focus-visible, .hero-cta-btn:focus-visible{
   outline: 2px solid black;
  outline-offset: 2px
}
.cta-btn-footer:focus-visible{
  outline: 2px solid var(--clr-white);
  outline-offset: 2px;

}

.social-link:hover{
  opacity: 0.7;
}
/* Tablet */

@media(max-width:1024px){


  main{
    gap: 4rem;
  }
  .hero-two-column,.two-column, .reversed{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hero-content{
    max-width: 780px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hero-img{
    width: 100%;
    max-width: 780px;
    max-height: none;
    height: auto;
    
  }

  .two-column{
    justify-content: center;
    align-items: flex-start;
  }

  .two-column img {
    max-height: 760px;
  }
  .club-info, .together-info{
      width: 100%;
      max-width: none;
    
  }
    .club-heading, .together-heading{
      width: 100%;
      max-width: none;
    }
    .tech-icons-container{
      display: none;
    }
  
  .journey-steps-list{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .journey-steps{
    max-width: none;
    width: 100%;
  } 

  .journey-heading{
    text-align: initial;
    align-self: stretch;
    width: 100%;
    max-width: none;
  }
  .journey-step{
    max-width: none;
    width: 100%;
  }
  .arrow::after{
    display: none;
  }
  
  .membership-options-container{
    flex-wrap: wrap;
  }
  .membership-option-card{
    border: 1px solid var(--clr-light-200);
    flex: 0 1 calc((100% - 1.5rem) / 2);
  }

  .card-pro{
    padding: 0;
    padding: 1.5rem;
  }

  .testimonial-content{
    align-items: flex-start;
    justify-content: flex-start;
  }

  .testimonial-text-container{
    align-items: flex-start;
    justify-content: flex-start;
  }
  .testimonial-text{
    text-align: initial;

  }

  footer{
    padding: 4rem 2rem 0 2rem;
  }

}
/* Mobile */

@media(max-width: 565px){
  
  .membership-options-container{
  flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  
}
.membership-option-card{
  flex: none;
}

.hero-heading, .club-heading, .journey-heading, .together-heading,.membership-heading,.footer-heading{
  font-size: 2.125rem;
}
.testimonial-text{
  font-size: 1.5rem;
  line-height: 110%;
}

a{
  font-size: 1rem;
}
.list-item-together{
gap: 0.875rem;
}
.list-item-together::before{
  flex-shrink: 0;
}
}